@media screen and (max-width:768px) {
    .nav-container {

        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
    }

    .nav-left {
        width: 90%;
        margin: 0 auto;

        justify-content: center;
    }

    .nav-right {
        width: 90%;
    }

    .nav-right ul {
        margin: 20px 0;
        flex-direction: column;
        gap: 20px;
    }

    /* navbar ends here  */
    .banner-container {
        
        margin: 20px auto;
    
        flex-direction: row-reverse;
    }
    .banner-left {
        width: 45%;
    
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }
    .banner-right {
        width: 45%;
    }
    .btn-sky{
        margin-top: 20px;
    }
    
    /* banner section ends here  */
}



@media screen and (max-width:576px) {

    .nav-left {
        width: 90%;

    }

    .nav-right {
        width: 90%;
    }

    .nav-right ul {
        margin: 10px 0;
        gap: 10px;
    }

    /* navbar ends here  */
    .banner-container {
        
        margin: 40px auto;
    
        flex-direction: column-reverse;
    }
    .banner-left {
        width: 90%;
    
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
        margin-top: 20px;
    }
    .banner-right {
        width: 90%;
    }
    .btn-sky{
        margin-top: 20px;
    }
    /* banner section ends here  */
}